#get_started {
  padding-top: 5rem;
}

.partner-card {
  border-radius: 0px;
}

.card-body {
  background-color: #e9e9e9;
}

.dropdown {
  text-align: right;
}

a{
  color:black !important
}

#get_started_footer{
  height: 104px;
  background-color: #66ff00;
  color: black;
}
