#get-started {
  padding-top: 5rem;
}

.action-card {
  border: none !important;
  border-radius: 0px !important;
  position: relative;
}

.action-card::before{
  content: "";
  position: absolute;
  top: -10px;
  left: -12px;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  box-sizing: border-box;
}

.action-card a {
  color: black !important;
}
.action-card a:hover {
  text-decoration: none;
}

.card-body {
  background-color: #e9e9e9;
}

.dropdown {
  text-align: right;
}
.action-dropdown{
  margin-bottom: -2rem;
}

#get-started-footer {
  height: 104px;
  background-color: #66ff00;
  color: black;
}
