#get-started {
  padding-top: 5rem;
}

.action-card {
  border: black 2px solid !important;
  border-radius: 0px !important;
}
.action-card a {
  color: black !important;
}
.action-card a:hover {
  text-decoration: none;
}

.card-body {
  background-color: #e9e9e9;
}

.dropdown {
  text-align: right;
}

#get-started-footer {
  height: 104px;
  background-color: #66ff00;
  color: black;
}
