#hero {
  background-size: cover;
  background-image: url("../../Assets/images/misc/hero_bg.png");
  background-color: green;
}

#hero_body {
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 3rem;
  text-align: left;
}

#featured_art_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#hero_cat {
  position: absolute;
  top: -150px;
  left: 10px;
}
#hero_yinyang {
  position: absolute;
  top: -50px;
  left: 120px;
}
#hero_tv {
  position: absolute;
  top: -150px;
  left: 250px;
}

.light_button {
  background-color: white !important;
  color: black !important;
  border: black 2px solid !important;
  border-radius: 0px !important;
}

#hero_footer {
  /* height: 104px; */

  background-color: black;
  color: #66ff00;
}

.ticker-text {
  font-size: 70px;
  margin-bottom: 0px;
}
