#hero {
  background-size: cover;
  background-image: url("../../Assets/images/misc/holo_ctc_bg.png");
}

#hero-body {
  padding-top: 22vh;
  padding-bottom: 22vh;
  padding-left: 3rem;
  text-align: left;
}

.featured-art-container {
  width: 100%;
  display: flex;
}

#hero-art {
  margin: auto !important;
  position: relative;
  position: relative;
  height: 370px;
  max-width: 425px;
  width: 100%;
  
}

#hero-cat {
  position: absolute;
  width: 56%;
  left: 0%;
  transition: transform 1000ms;
 
}
#hero-yinyang {
  position: absolute;
  width: 52%;
  top: 27%;
  left: 28%;
  transition: transform 1000ms;
}
#hero-tv {
  position: absolute;
  width: 42%;
  left: 59%;
  transition: transform 1000ms;
}

#hero-art:hover #hero-cat {
  transform: translate(-20px, -20px);

}

#hero-art:hover #hero-yinyang {
  transform: translate(0px, 20px);
}

#hero-art:hover #hero-tv {
  transform: translate(20px, -20px);
}

.light-button {
  background-color: white !important;
  color: black !important;
  border: none !important;
  border-radius: 0px !important;
  position: relative;
  padding: 0.7rem 2rem !important;
}

.light-button:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  box-sizing: border-box;
}

#hero-footer {
  background-color: black;
  color: #66ff00;
}

.marquee {
  position: relative;
  height: 105px;
  overflow-x: hidden;

  font-size: 70px;
  margin-bottom: 0px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 991px) {
  #hero-body {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
@media only screen and (max-width: 767px) {
  #hero-body {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  #hero-body h2 {
    font-size: 1.2rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
}
