#hero {
  background-size: cover;
  background-image: url("../../Assets/images/misc/green_ctc_bg.png");
}

#hero-body {
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 3rem;
  text-align: left;
}

.featured-art-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#hero-cat {
  position: absolute;
  top: -150px;
  left: 10px;
}
#hero-yinyang {
  position: absolute;
  top: -50px;
  left: 120px;
}
#hero-tv {
  position: absolute;
  top: -150px;
  left: 250px;
}

.light-button {
  background-color: white !important;
  color: black !important;
  border: black 2px solid !important;
  border-radius: 0px !important;
  box-shadow: -5px 5px 0 0px black, -5px 5px 0 1px white;
}

#hero-footer {
  /* height: 104px; */

  background-color: black;
  color: #66ff00;
}

.ticker-text {
  font-size: 70px;
  margin-bottom: 0px;
  white-space: nowrap;
}
