#partnerships {
  padding-top: 5rem;
}

#blue-cat{
  position: absolute;
  left:-180px;
  z-index: 3;
}
#green-cat{
  position: absolute;
  left:-65px;
  z-index: 2;
}
#pink-cat{
  position: absolute;
  left: 25px;
  z-index: 1;
}