#artists {
  background-image: url("../../Assets/images/misc/black_ctc_bg.png");
  background-size: cover;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.artist-image {
  max-width: 100%;
}

.carousel {
  max-width: 800px;
}

.carousel-inner {
  max-width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: white;
  color: black !important;
  border: none !important;
  border-radius: 0px !important;
}

#carousel-outline {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: -9rem;
  max-width: 500px;
  height: 11rem;
  border: 3px solid #66ff00;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  top: 10rem;
  left: -1rem;
}

.artist {
  text-align: left;
  height: 11rem;
}

.carousel-caption {
  color: black !important;
  text-align: left;
  position: absolute;
  left: 200px;
}

.carousel-control-prev {
  opacity: 1 !important;
}
.carousel-control-prev:hover {
  opacity: 0.5 !important;
}
.carousel-control-prev-icon {
  background-image: url("../../Assets/images/misc/prev.png") !important;
  width: 55px !important;
  height: 55px !important;
}

.carousel-control-next {
  opacity: 1 !important;
}

.carousel-control-next:hover {
  opacity: 0.5 !important;
}
.carousel-control-next-icon {
  background-image: url("../../Assets/images/misc/next.png") !important;
  width: 55px !important;
  height: 55px !important;
}

.carousel-indicators li {
  background-color: #66ff00 !important;
}

.carousel-indicators {
  position: absolute;
  bottom: -3rem !important;
}

.green-white-button {
  background-color: #66ff00 !important;
  color: black !important;
  border: none !important;
  border-radius: 0px !important;
  position: relative;
  padding: 0.7rem 2rem !important;
}

.green-white-button:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
}





@media only screen and (max-width: 767px) {
  .carousel-control-next-icon {
    display: none !important;

  }
  .carousel-control-prev-icon {
    display: none !important;
  }
}
