#artists {
  background-image: url("../../Assets/images/misc/black_ctc_bg.png");
  background-size: cover;
  color: white;
  padding-top: 5rem;
}

.artist-image {
  max-width: 100%;
}

.carousel {
  max-width: 800px;
}

.carousel-inner {
  max-width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.carousel-caption {
  color: black !important;
  text-align: left;
  position: absolute;
  left: 200px;
}

.carousel-control-prev {
  opacity: 1   !important;
}
.carousel-control-prev:hover {
  opacity: 50% !important;
}
.carousel-control-prev-icon {
  background-image: url("../../Assets/images/misc/prev.png") !important;
  width: 55px !important;
  height: 55px !important;
}

.carousel-control-next {
  opacity: 1 !important;
}

.carousel-control-next:hover {
  opacity: 50% !important;
}
.carousel-control-next-icon {
  background-image: url("../../Assets/images/misc/next.png") !important;
  width: 55px !important;
  height: 55px !important;
}

.artist {
  background-color: white;
  color: black !important;
  text-align: left;
  border: #66ff00 2px solid !important;
  border-radius: 0px !important;
  height: 10rem;
}

.carousel-indicators li {
  background-color: #66ff00 !important;
}

.carousel-indicators {
  position: absolute;
  bottom: -3rem !important;
}
