#intro {
  /* margin-bottom: -5rem; */
}

#intro-this {
  background-color: white;
}

#intro-cold {
  background-image: url("../../Assets/images/misc/holo_bg.png");
  background-size: cover;
}

.intro-body {
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 3rem;
  text-align: left;
}

#intro-art {
  margin: auto !important;
  position: relative;
  position: relative;
  height: 480px;
  max-width: 600px;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

#intro-leaf {
  position: absolute;
  width: 35%;
  top: 1%;
  left: -3%;
  z-index: 1;
  transition: transform 1500ms;
}
#intro-trans-1 {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 4%;
  z-index: 0;
  transition: transform 1500ms;
}
#intro-trans-2 {
  position: absolute;
  width: 50%;
  top: 8%;
  left: 28%;
  z-index: 0;
  transition: transform 1500ms;
}
#intro-trans-3 {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 52%;
  z-index: 0;
  transition: transform 1500ms;
}

#intro-art:hover #intro-leaf {
  animation: spin 5000ms linear infinite;
}
@keyframes moveLeaf {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, -40%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#intro-art:hover #intro-trans-1 {
  transform: translate(49%, 0);
}
#intro-art:hover #intro-trans-2 {
  transform: translate(0, 9%);
}
#intro-art:hover #intro-trans-3 {
  transform: translate(-49%, 0);
}

.content-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  z-index: 99 !important;
}

.green-button {
  background-color: #66ff00 !important;
  color: black !important;
  border: none !important;
  border-radius: 0px !important;
  position: relative;
  padding: 0.7rem 2rem !important;
}

.green-button:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  box-sizing: border-box;
}

@media only screen and (max-width: 991px) {
  .intro-body {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  #intro-art {
    height: 350px;
  }
}
