@font-face {
  src: url("../src/Assets/fonts/Druk_Wide_Medium_Regular.ttf");
  font-family: "druk-wide";
}

.App {
  text-align: center;
  font-family: "druk-wide", Arial, Helvetica, sans-serif;
  color: black;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
